<html>
<body>
  <form action="/promocoes" method="post">
    <div>
      <input type="text" />
      <select name="livro[id]" >
        <%
        for(var i=0; i<lista.length;i++){
        %>
          <option value="<%=lista[i].id%>"><%=lista[i].nome%></option>
        <%
        }
        %>
      </select>

    </div>
    <input type="submit" value="Cadastrar Promoção"></input>
  </form>
</body>
</html>
